@using crm.Quickstart.Account
@model ResetPasswordViewModel

    <div class="container">

        <div class="container">
            <div class="row justify-content-center ">
                <div class="col align-self-center col-sm-11 col-md-7 col-lg-5 col-xl-5 ">
                    <img class="logo-image" src="~/image_full_white.png" />
                    @*<div class="shadow-sm p-3 mb-5 bg-white rounded"></div>*@
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col align-self-center col-sm-12 col-md-9 col-lg-7 col-xl-7 border-bottom mt-5">

                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col align-self-center col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-2">
                    <partial name="_ValidationSummary" />
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 align-self-center mt-3">
                    <div class="">
                        <div class=" align-self-center">
                            <h1>Reset Your Password</h1>
                            <br />
                            <form asp-controller="Account"
                                  asp-action="ResetPassword"
                                  method="post">

                                <input type="hidden" asp-for="Token" />
                                <fieldset>
                                    <div>
                                        <label asp-for="UserName"></label>
                                        <input class="form-control" asp-for="UserName" autofocus>
                                    </div>
                                    <div class="mt-2">
                                        <label asp-for="Password"></label>
                                        <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                                    </div>
                                    <div class="mt-2">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                                    </div>
                                    <br />
                                    <div class="mt-4">
                                        <button class="btn frog-background btn-block" name="button" value="login">Reset Password</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

